@use "/src/scss/colors" as c;

ul {
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
}

i {
    margin-right: 5px;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.navContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    margin: 0;
    margin-bottom: 40px;
    padding: 15px 0;
    
    background-color: c.$greyblack;
    font-weight: bold;
    color: c.$blue;
}

.navItem {
    display: inline-block;
    margin: 0 30px;

    color: c.$white;
    list-style-type: none;
    cursor: pointer;
}
