@use "/src/scss/colors" as c;

.controlBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.button {
    margin: 0 10px;
    padding: 2px;

    width: 150px;
    height: 30px;

    color: c.$white;
    background-color: c.$blue;
    border-color: c.$darkblue;

    cursor: pointer;
}

.textWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.summaryText {
    display: inline-block;
    margin: 0 5px;
    font-weight: bold;
    font-size: 14px;
}